.dw li {
    vertical-align: bottom;
}
/* Default theme*/
.rating-star-cont
{
    position: relative;
    width: 40px;
    height: 100%;
    float: left;
}
.rating-star
{
    background:url(default.png) no-repeat;
    width: 24px;
    height: 24px;
    margin: 8px;
}
.rating-circle
{
    /*position: absolute;
    top: 50%;
    left: 7px;
    margin-top: -13px;*/
    background:url(default_circle.png) no-repeat;
    width:26px;
    height:26px;
    margin: 6px;
    font-family:Verdana;
    font-size:15px;
    line-height:26px;
    text-align: center;
}
.rating-filled-star
{
    background-position:0px 0px;
}
.rating-filled-circle
{
    background-position:0px 0px;
}
.rating-unfilled-star
{
    background-position:0px -24px;
}
.rating-unfilled-circle
{
    background-position:0px -26px;
}
.rating-txt
{
    float:left;
    padding:0 10px;
}

/* iOS theme */

.ios .rating-star
{
	background:url('ios_star.png') no-repeat;
}
.ios .rating-circle
{
    background:url(ios_circle.png) no-repeat;
    width: 24px;
    height: 24px;
    margin: 8px;
    font-size: 11px;
    line-height:24px;
}
.ios .rating-filled-circle
{
    background-position:0px 0px;
}
.ios .rating-unfilled-circle
{
    background-position:0px -24px;
}
.ios .rating-filled-star
{
    background-position:0px 0px;
}
.ios .rating-unfilled-star
{
    background-position:0px -24px;
}
/* jQurey Mobile */

.jqm .rating-circle
{
	background:url('jqm_circle.png') no-repeat;
}
.jqm .rating-star
{
	background:url('jqm_star.png') no-repeat;
}
.jqm .rating-filled-star
{
    background-position:0px 0px;
}
.jqm .rating-unfilled-star
{
    background-position:0px -24px;
}
.jqm .rating-filled-circle
{
    background-position:0 0;
}
.jqm .rating-unfilled-circle
{
    background-position:0 -26px;
}
    
/* Android ICS */

.android-ics .rating-circle
{
	background:url('android_ics_circle.png') no-repeat;
}
.android-ics .rating-star
{
	background:url('android_ics_star.png') no-repeat;
}
.android-ics .rating-filled-circle
{
    color:#000;
}
.android-ics .rating-filled-star
{
    background-position:0px 0px;
}
.android-ics .rating-unfilled-star
{
    background-position:0px -24px;
}
.android-ics .rating-filled-circle
{
    background-position:0px 0px;
}
.android-ics .rating-unfilled-circle
{
    background-position:0px -26px;
}
/* Android ICS Light */

.android-ics.light .rating-circle
{
	background:url('android_ics_light_circle.png') no-repeat;
}
.android-ics.light .rating-star
{
	background:url('android_ics_light_star.png') no-repeat;
}
.android-ics.light .rating-filled-circle
{
    color:#f5f5f5;
}
.android-ics.light .rating-filled-circle
{
    background-position:0px 0px;
}
.android-ics.light .rating-unfilled-circle
{
    background-position:0px -26px;
}

.android-ics.light .rating-filled-star
{
    background-position:0px 0px;
}
.android-ics.light .rating-unfilled-star
{
    background-position:0px -24px;
}
/* Android */

.android .rating-circle
{
	background:url('android_circle.png') no-repeat;
}
.android .rating-star
{
	background:url('android_star.png') no-repeat;
}
.android .rating-filled-star
{
    background-position:0px 0px;
}
.android .rating-unfilled-star
{
    background-position:0px -24px;
}
.android .rating-filled-circle
{
    background-position:0 0;
}
.android .rating-unfilled-circle
{
    background-position:0 -26px;
}

/* Sense UI */

.sense-ui .rating-circle
{
	background:url('sense_ui_circle.png') no-repeat;
}
.sense-ui .rating-star
{
	background:url('sense_ui_star.png') no-repeat;
}
.sense-ui .rating-filled-star
{
    background-position:0px 0px;
}
.sense-ui .rating-unfilled-star
{
    background-position:0px -24px;
}
.sense-ui .rating-filled-circle
{
    background-position:0 0;
}
.sense-ui .rating-unfilled-circle
{
    background-position:0 -26px;
}